* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
}
.container {
  background: rgba(255, 255, 255, 0.335);
  padding: 40px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
}
.container h2 {
  color: #4d4ae8;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 500;
  border-bottom: 2px solid #4d4ae8;
}
.container ul {
  position: relative;
  cursor: pointer;
}
.container ul li {
  position: relative;
  list-style: none;
  display: table;
  margin: 10px 0;
  padding-left: 34px;
  padding-right: 5px;
}
.container ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: transparent;
  border-radius: 34px;
  transition: background 0.5s, width 0.5s;
  transition-delay: 0.5s, 0s;
  border: 2px solid #03a9f4;
  box-sizing: border-box;
}
.container ul li:hover::before {
  width: 100%;
  background: #03a9f4;
  transition-delay: 0s, 0.5s;
}
.container ul li::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 6px;
  height: 6px;
  border-top: 2px solid rgb(38, 60, 82);
  border-right: 2px solid rgb(38, 60, 82);
  transform: rotate(45deg);
  transition: 0.5s;
  transition-delay: 0s;
}
.container ul li:hover:after {
  left: 24px;
  transition-delay: 0.5s;
  transform: rotate(45deg) scale(1.5);
}
.container ul li p {
  position: relative;
  z-index: 10;
  padding: 5px 10px;
  color: rgb(38, 60, 82);
  animation-delay: 0.5s;
}
